* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(/yoga-2959213_1920.png);
  background-color: rgba(0, 0, 0, 0.539);
  background-blend-mode: darken;
  background-size: cover;
}

.hr {
  margin-top: 70px;
  background-color: #c4c4c4;
  width: 100%;
  height: 1px;
}

.line1 {
  background-color: #c4c4c4;
  width: 45px;
  height: 2px;
  margin: 10px;
  right: 0;
}

.line2 {
  background-color: #c4c4c4;
  width: 35px;
  height: 2px;
  margin: 10px;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.line3 {
  background-color: #c4c4c4;
  width: 30px;
  height: 2px;
  margin: 10px;
  right: 0;
  margin-left: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamburger {
  right: 10px;
  position: absolute;
  top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamburger:hover .line2 {
  width: 45px;
  margin: 10px;
}

.hamburger:hover .line3 {
  width: 45px;
  margin: 10px;
}

.circle {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background: #c4c4c47a;
  background-blend-mode: soft-light;
  border-radius: 50%;
  font-family: 'Lobster Two', cursive;
  margin-top: 50px;
}

.circle .pholly {
  font-size: 28px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.511);
}

.mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  font-family: 'Molengo', sans-serif;
  color: rgba(255, 255, 255, 0.658);
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.mid h1 {
  font-size: 40px;
  text-align: center;
}

.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 20px 20px;
  background-color: #1F1D1D;
  opacity: 60%;
  color: #dddd;
  font-family: 'Montserrat', sans-serif;
  width: 10%;
  margin-top: 70px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button1:hover {
  opacity: 1;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  color: white;
  width: 30vw;
  padding: 30px 0px;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: fixed;
  right: 0;
  font-family: 'Molengo', sans-serif;
  background: rgba(162, 158, 158, 0.582);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.724);
  font-size: 30px;
  -webkit-transition: all 20s ease-in-out;
  transition: all 20s ease-in-out;
}

li a:hover {
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transition: all 20s ease-in-out;
  transition: all 20s ease-in-out;
}

@-webkit-keyframes hover {
  0% {
    border-bottom: 2px solid white;
    width: 20%;
  }
  50% {
    border-bottom: 2px solid white;
    width: 50%;
  }
  75% {
    border-bottom: 2px solid white;
    width: 70%;
  }
  100% {
    border-bottom: 2px solid white;
    width: 100%;
  }
}

@keyframes hover {
  0% {
    border-bottom: 2px solid white;
    width: 20%;
  }
  50% {
    border-bottom: 2px solid white;
    width: 50%;
  }
  75% {
    border-bottom: 2px solid white;
    width: 70%;
  }
  100% {
    border-bottom: 2px solid white;
    width: 100%;
  }
}

.open {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

@media (max-width: 500px) {
  body {
    background-image: url(/yoga2.png);
    background-repeat: repeat;
    background-size: 150%;
  }
  .button1 {
    width: 50%;
  }
  .mid h1 {
    font-size: 25px;
  }
  .mid {
    margin: 100px 10px 0px 10px;
  }
  .links {
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */